@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h2, h3, h4, h5, h6 {
  color: #001E42;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: #252D37;
}

.title {
  font-size: 50px;
}

.btn {
  padding: 15px 22px;
  display: flex;
  align-items: center;
  color: #002047;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #00FEFF;
  transition-duration: .3s;
  transition-property: background-color;
}

.btn:hover {
  background-color: #f1f1f1;
}

.btn img {
  margin-left: 11px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.header {
  margin-top: -2px;
  background: url(../img/background.jpg) center/cover #01244e;
  padding: 37px 0 70px;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 76px;
}

.header__burger {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  margin: 0 20px;
}

.header__link {
  color: #fff;
  font-weight: 400;
  transition-duration: .3s;
  transition-property: color;
}

.header__link:hover {
  color: #999;
}

.header__tel {
  text-align: right;
}

.header__tel-txt {
  color: #fff;
  font-size: 12px;
}

.header__tel-num {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  margin-left: 13px;
  transition-duration: .3s;
  transition-property: color;
}

.header__tel-num:hover {
  color: #999;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__title {
  color: #00FEFF;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 57px;
}

.header__subtitle {
  font-weight: 900;
  color: #00FEFF;
  margin-bottom: 10px;
}

.header__price {
  color: #fff;
  margin-bottom: 28px;
  font-weight: 400;
}

.header__price span {
  font-size: 24px;
  font-weight: 900;
}

.header__text {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  max-width: 390px;
}

.about {
  padding: 90px 0 30px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .title {
  min-width: 186px;
}

.about__text {
  max-width: 821px;
}

.service {
  padding: 30px 0 60px;
}

.service .title {
  margin-bottom: 52px;
}

.service__block {
  display: grid;
  grid-template-columns: 272px 272px 272px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.service__item img {
  margin-right: 10px;
}

.service__item-text {
  font-weight: 700;
}

.service__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.service__text-block {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 45% 45%;
  margin-bottom: 40px;
}

.target__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.target__title-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}

.target__title-block img {
  margin-right: 18px;
}

.target__title-block .title {
  font-size: 48px;
  width: 170px;
}

.target__text {
  font-size: 24px;
  font-weight: 700;
}

.target__text:last-child {
  text-align: right;
}

.target__text:first-child {
  margin-bottom: 40px;
}

.target__items {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 290px 290px 290px;
  margin-left: 20px;
  align-items: center;
}

.target__item {
  position: relative;
  z-index: 5;
  font-weight: 700;
}

.target__item span {
  font-size: 96px;
  font-weight: 700;
  color: #00FEFF;
  z-index: -1;
  position: absolute;
  top: -40px;
  left: -20px;
}

.target__item:last-child {
  text-align: right;
}

.target__item:last-child span {
  left: 10px;
}

.price {
  padding: 70px 0;
}

.price .title {
  margin-bottom: 20px;
}

.price__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__text {
  margin-bottom: 30px;
}

.price__text span {
  font-weight: 700;
}

.price__btns {
  display: flex;
  justify-content: flex-start;
}

.price__btn {
  margin-right: 30px;
  font-weight: 700;
  font-size: 14px;
  color: #001E42;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #fff;
  border: 2px solid #001E42;
  cursor: pointer;
}

.price__btn:hover {
  background-color: #f1f1f1;
}

.price__btn img {
  margin-left: 10px;
}

.price__cards {
  display: flex;
  justify-content: flex-end;
}

.price__card {
  min-width: 240px;
  text-align: center;
}

.price .card {
  padding: 40px 0;
  border: 1px solid #001E42;
  margin-left: 15px;
}

.price .card:first-child {
  margin-left: 30px;
}

.price .card__plan {
  margin-bottom: 15px;
}

.price .card__title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
}

.price .card__price {
  margin-bottom: 5px;
}

.price .card__price span {
  font-size: 70px;
  font-weight: 700;
}

.client {
  padding: 20px 0;
}

.client .title {
  margin-bottom: 30px;
}

.client__logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.client__title {
  color: #A5AAAF;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.client .mb {
  margin-bottom: 10px;
}

.client__text {
  font-size: 13px;
  color: #A5AAAF;
  line-height: 15.6px;
  padding: 2px 0;
}

.client__blocks {
  display: flex;
  justify-content: space-between;
}

.client__block {
  max-width: 48%;
}

.burgerModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 35px 5px;
  text-align: center;
  z-index: 3;
  display: none;
}

.burgerModal a {
  color: #001E42;
}

.burgerModal a:hover {
  color: #999;
}

.burgerModal__img {
  margin-bottom: 34px;
}

.burgerModal__tel {
  margin-bottom: 44px;
}

.burgerModal__tel-txt {
  margin-bottom: 18px;
  font-size: 12px;
}

.burgerModal__tel-num {
  margin-right: 20px;
  color: #001E42;
  font-weight: 700;
  font-size: 18px;
}

.burgerModal__item {
  margin-bottom: 36px;
}

.burgerModal .btn {
  width: 298px;
  margin: 0 auto;
  justify-content: center;
}

.burgerActive {
  display: block;
}

@media (max-width: 960px) {
  .service__block {
    grid-template-columns: 350px 350px;
  }
  .target__items {
    grid-template-columns: 290px;
    grid-template-rows: 100px 110px 60px;
  }
  .target__item {
    margin-bottom: 50px;
  }
  .target__item:last-child {
    text-align: left;
  }
  .target__item:last-child span {
    left: -20px;
  }
  .price__content {
    flex-direction: column;
    align-items: center;
  }
  .price__block {
    margin-bottom: 30px;
  }
  .price__btns {
    justify-content: center;
  }
  .price__btn:last-child {
    margin-right: 0;
  }
  .price .card:first-child {
    margin-left: 0;
  }
}

@media (max-width: 750px) {
  body {
    font-size: 16px;
  }
  .header__title {
    font-size: 40px;
  }
  .service__block {
    grid-template-columns: 272px 272px;
  }
  .target__title-block {
    margin-bottom: 38px;
  }
  .target__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .target__text {
    margin-bottom: 50px;
    font-size: 22px;
  }
  .target__text:last-child {
    text-align: left;
  }
  .target__items {
    margin-bottom: 30px;
  }
}

@media (max-width: 668px) {
  p {
    font-size: 16px;
  }
  .header {
    padding: 30px 0 35px;
  }
  .header__nav, .header .header__tel {
    display: none;
  }
  .header__navbar {
    align-items: flex-start;
  }
  .header__burger {
    display: block;
    height: 2px;
    width: 30px;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 1000;
  }
  .header__burger::before {
    content: '';
    height: 2px;
    width: 30px;
    top: -10px;
    background-color: #fff;
    position: absolute;
  }
  .header__burger::after {
    content: '';
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
  }
  .header .active {
    background: none;
    position: fixed;
    right: 15px;
  }
  .header .active::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #001E42;
  }
  .header .active::after {
    transform: rotate(45deg);
    bottom: 0;
    background-color: #001E42;
  }
  .header__main {
    display: block;
  }
  .header .btn {
    margin-bottom: 37px;
  }
  .header__text {
    text-align: left;
  }
  .about .container {
    display: block;
  }
  .about .title {
    margin-bottom: 20px;
  }
  .client__blocks {
    flex-direction: column;
  }
  .client__block {
    max-width: 100%;
  }
  .client__block:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 565px) {
  .title {
    font-size: 46px;
  }
  .service__item {
    margin-bottom: 35px;
  }
  .service__block {
    grid-template-columns: none;
  }
  .service__text-block {
    grid-template-columns: none;
    margin-bottom: 0;
  }
  .service__text {
    margin-bottom: 30px;
  }
  .target__text {
    font-size: 20px;
  }
  .price__cards {
    display: block;
  }
  .price .card {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 20px 0;
  }
  .price__btn {
    font-size: 12px;
  }
  .price__btn img {
    width: 15px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 44px !important;
  }
  .target__title-block img {
    width: 120px;
  }
  .target__items {
    grid-template-columns: 250px;
  }
  .client__logo {
    display: block;
  }
  .client__img {
    text-align: center;
  }
}

@media (max-width: 340px) {
  .target__title-block img {
    display: none;
  }
}
