@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

// Color
$light: #00FEFF;
$dark: #001E42;
$txt-dark: #252D37;
$txt-light: #A5AAAF;
$txt-ultra: #002047;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h2,h3,h4,h5,h6{
    color: $dark;
    font-weight: 700;
}
a{text-decoration: none;}
ul,ol{list-style: none;}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
p{
    color: $txt-dark;
}
.title{
    font-size: 50px;
}
@media (max-width: 750px){
    .title{
        font-size: 40px;
    }
}
.btn{
    padding: 15px 22px;
    display: flex;
    align-items: center;
    color: $txt-ultra;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;   
    outline: none;
    border: none;
    background-color: $light;
    transition-duration: .3s;
    transition-property: background-color;
    &:hover{
        background-color: #f1f1f1;
    }
    img{
        margin-left: 11px;
    }
}
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.header{
    margin-top: -2px;
    background: url(../img/background.jpg) center/cover #01244e;
    padding: 37px 0 70px;
    &__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 76px;
    }&__burger{
        display: none;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        margin: 0 20px;
    }
    &__link{
        color: #fff;
        font-weight: 400;
        transition-duration: .3s;
        transition-property: color;
        &:hover{
            color: #999;
        }
    }
    &__tel{
        text-align: right;
        &-txt{
            color: #fff;
            font-size: 12px;
        }
        &-num{
            color: #fff;
            font-weight: 700;
            font-size: 17px;
            margin-left: 13px;
            transition-duration: .3s;
            transition-property: color;
            &:hover{
                color: #999;
            }
        }
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title{
        color: $light;
        font-weight: 900;
        font-size: 50px;
        margin-bottom: 57px;
    }
    &__subtitle{
        font-weight: 900;
        color: $light;
        margin-bottom: 10px;
    }
    &__price{
        color: #fff;
        margin-bottom: 28px;
        font-weight: 400;
        span{
            font-size: 24px;
            font-weight: 900;
        }
    }
    
    &__text{
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        max-width: 390px;
    }
}
.about{
    padding: 90px 0 30px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .title{
        min-width: 186px;
    }
    &__text{
        max-width: 821px;
    }
}
.service{
    padding: 30px 0 60px;
    .title{
        margin-bottom: 52px;
    }
    &__block{
        display: grid;
        grid-template-columns: 272px 272px 272px;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        img{
            margin-right: 10px;
        }
        &-text{
            font-weight: 700;
        }
    }
    &__title{
        font-size: 24px;
        margin-bottom: 30px;
    }
    &__text-block{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 45% 45%;
        margin-bottom: 40px;
    }
}
.target{
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
    }
    &__title-block{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;
        img{
            margin-right: 18px;
        }
        .title{
            font-size: 48px;
            width: 170px;
        }
    }
    &__text{
        font-size: 24px;
        font-weight: 700;
        &:last-child{
            max-width: 521px;
        }
        &:first-child{
            margin-bottom: 40px;
        }
    }
    &__items{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 290px 290px 290px;
        margin-left: 20px;
        align-items: center;
    }
    &__item{
        position: relative;
        z-index: 5;
        font-weight: 700;
        span{
            font-size: 96px;
            font-weight: 700;
            color: $light;
            z-index: -1;
            position: absolute;
            top: -40px;
            left: -20px;
        }
        &:last-child{
            text-align: right;
            span{
                left: 10px;
            }
        }
    }
}
.price{
    padding: 100px 0;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
        &:first-child{
            margin-bottom: 30px;
        }
        span{
            font-weight: 700;
        }
    }
    &__btns{
        display: flex;
        justify-content: space-between;
    }
    &__cards{
        display: flex;
        justify-content: flex-end;   
    }
    &__card{
        min-width: 259px;
        text-align: center;
    }
    .card{
        padding: 40px 0;
        border: 1px solid $dark;
        margin-left: 15px;
        &:first-child{
            margin-left: 30px;
        }
        &__plan{
            margin-bottom: 15px;
        }
        &__title{
            text-align: center;
            font-size: 26px;
            margin-bottom: 5px;
        }
        &__price{
            span{
                font-size: 70px;
                font-weight: 700px;
            }
            margin-bottom: 5px;
        }
    }
}
// modal
.burgerModal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 35px 5px;
    text-align: center;
    z-index: 3;
    display: none;
    &__img{
        margin-bottom: 34px;
    }
    &__tel{
        margin-bottom: 44px;
        &-txt{
            margin-bottom: 18px;
            font-size: 12px;
        }
        &-num{
            margin-right: 20px;
            color: $dark;
            font-weight: 700;
            font-size: 18px;
        }
    }
    &__item{
        margin-bottom: 36px;
    }
    .btn{
        width: 298px;
        margin: 0 auto;
        justify-content: center;
    }
}
.burgerActive{
    display: block;
}

// media
@media (max-width: 960px){
    .service{
        &__block{
        grid-template-columns: 350px 350px;

        }
    }
    .target{
        &__items{
            grid-template-columns: 290px;
            grid-template-rows: 100px 110px 60px;
        }
        &__item{
            margin-bottom: 50px;
            &:last-child{
                text-align: left;
                span{
                    left: -20px;
                }
            }
        }
    }
}
@media (max-width: 750px){
    body{
        font-size: 16px;
    }
    .header{
        &__title{
            font-size: 40px;
        }
    }
    .service{
        &__block{
            grid-template-columns: 272px 272px;
        }
    }
    .target{
        &__title-block{
            margin-bottom: 38px;
        }
        &__block{
            display: grid;
            margin-bottom: 0;
        }
        &__text{
            margin-bottom: 50px;
        }
        &__items{
            margin-bottom: 30px;
        }
    }
}
@media(max-width: 668px){
    p{
        font-size: 16px;
    }
    .header{
        padding: 30px 0 35px;
        &__nav, .header__tel{
            display: none;
        }
        &__navbar{
            align-items: flex-start;
        }
        &__burger{
            display: block;
            height: 2px;
            width: 30px;
            margin-top: 10px;
            background-color: #fff;
            position: relative;
            cursor: pointer;
            z-index: 1000;
            &::before{
                content: '';
                height: 2px;
                width: 30px;
                top: -10px;
                background-color: #fff;
                position: absolute;
            }
            &::after{
                content: '';
                height: 2px;
                width: 30px;
                background-color: #fff;
                position: absolute;
                bottom: -10px;
            }
        }
        .active{
            background: none;
            position: fixed;
            right: 15px;
            &::before{
                transform: rotate(-45deg);
                top: 0;
                background-color: $dark;
            }
            &::after{
                transform: rotate(45deg);
                bottom: 0;
                background-color: $dark;
            }
        }
        &__main{
            display: block;
        }
        .btn{
            margin-bottom: 37px;
        }
        &__text{
            text-align: left;
        }
    }
    .about{
        .container{
            display: block;
        }
        .title{
            margin-bottom: 20px;
        }
    }
}
@media(max-width: 565px){
    .service{
        &__item{
            margin-bottom: 35px;
        }
        &__block{
            grid-template-columns: none;
        }
        &__text-block{
            grid-template-columns: none;
            margin-bottom: 0;
        }
        &__text{
            margin-bottom: 30px;
        }
    }
}

